@font-face {
    font-family: 'FontTitle';
}

.bodywrap {
    background: #ebebeb
}

.bg_blog {
    background: #fff;
    padding: 10px
}

.full_background_blog .title_main_page {
    font-weight: 400;
    color: #222;
    margin-bottom: 20px
}

.full_background_blog .title_main_page h1 {
    color: #222;
    font-size: 24px;
    font-weight: 700;
    text-transform: uppercase;
    margin-top: 0px
}

@media (max-width: 991px) {
    .full_background_blog .article_large_first {
        margin-bottom: 20px
    }
}

@media (min-width: 1200px) {
    .blog-main .row_blog_responsive .col-lg-3:nth-child(4n+1) {
        clear: left
    }
}

@media (min-width: 992px) and (max-width: 1199px) {
    .blog-main .row_blog_responsive .col-md-3:nth-child(4n+1) {
        clear: left
    }
}

@media (min-width: 768px) and (max-width: 991px) {
    .blog-main .row_blog_responsive .col-sm-4:nth-child(3n+1) {
        clear: left
    }
}

.blog-main .wrap_full_list_blog {
    width: 100%;
    float: left
}

.paginate_center .pagination {
    float: right;
    margin-top: 40px
}

.blogwp .image-blog {
    width: 100%;
    float: left;
    margin-bottom: 15px
}

.blogwp .image-blog span {
    background-color: #ff384b;
    text-align: right;
    padding: 0 5px;
    border-radius: 3px;
    float: left;
    line-height: 19px;
    position: absolute;
    top: 5px;
    left: 5px;
    color: #fff
}

.blogwp .content_blog {
    width: 100%;
    float: left
}

.blogwp h3 {
    display: block;
    color: #222;
    font-family: 'Arial', sans-serif;
    font-size: 14px;
    font-weight: 700;
    margin: 0px 0 10px
}

.blogwp p {
    color: #959595
}

.blogwp .post-date {
    margin-bottom: 10px;
    font-size: 14px;
    text-align: right;
    line-height: 27px;
    width: 100%;
    float: left
}

.blogwp .post-date span:first-child {
    color: #6e7874;
    float: left;
    width: 100%;
    text-align: left;
    line-height: 19px
}

@media (max-width: 767px) {
    .blogwp .post-date {
        text-align: left
    }

    .blogwp .post-date span:last-child {
        width: 100%;
        float: left
    }
}

.blocg_item {
    width: 100%;
    float: left
}

.itembb {
    width: 100%;
    float: left
}

.itembb .first .image-blog {
    width: 130px;
    float: left
}

@media (max-width: 991px) and (min-width: 768px) {
    .itembb .first .image-blog {
        width: 240px
    }
}

.itembb .first h3 {
    display: block;
    float: left;
    padding-left: 10px;
    width: calc(100% - 130px);
    -webkit-width: calc(100% - 130px);
    -moz-width: calc(100% - 130px);
    -o-width: calc(100% - 130px);
    -os-width: calc(100% - 130px)
}

@media (max-width: 991px) and (min-width: 768px) {
    .itembb .first h3 {
        width: calc(100% - 240px);
        -webkit-width: calc(100% - 240px);
        -moz-width: calc(100% - 240px);
        -o-width: calc(100% - 240px);
        -os-width: calc(100% - 240px)
    }
}

.h3 {
    font-family: "Arial";
    font-size: 14px;
    margin: 0;
    padding: 0;
    display: block;
    width: 100%;
    float: left;
    margin-bottom: 10px;
    padding-bottom: 10px;
    border-bottom: solid 1px #ebebeb
}

.asideblog h2 {
    font-size: 14px;
    text-transform: uppercase;
    border-bottom: solid 2px #ff384b;
    margin-bottom: 15px
}

.asideblog h2 a {
    display: inline-block;
    padding: 0 15px;
    background: #ff384b;
    color: #fff;
    line-height: 40px;
    border-top-right-radius: 5px;
    font-weight: 700
}

.asideblog h2 a:hover {
    color: #fe8a95
}

.asideblog .itembb .first .image-blog {
    width: 90px;
    float: left
}

@media (max-width: 991px) and (min-width: 768px) {
    .asideblog .itembb .first .image-blog {
        width: 240px
    }
}

.asideblog .itembb .first h3 {
    display: block;
    float: left;
    padding-left: 10px;
    width: calc(100% - 90px);
    -webkit-width: calc(100% - 90px);
    -moz-width: calc(100% - 90px);
    -o-width: calc(100% - 90px);
    -os-width: calc(100% - 90px);
    font-size: 14px;
    font-weight: 400
}

@media (max-width: 991px) and (min-width: 768px) {
    .asideblog .itembb .first h3 {
        width: calc(100% - 240px);
        -webkit-width: calc(100% - 240px);
        -moz-width: calc(100% - 240px);
        -o-width: calc(100% - 240px);
        -os-width: calc(100% - 240px)
    }
}

.asideblog .itembb .blogwp .image-blog span {
    font-size: 11px
}

.bloglr {
    width: 100%;
    float: left
}

.bloglr .image-blog {
    width: 240px;
    float: left
}

@media (max-width: 767px) {
    .bloglr .image-blog {
        width: 130px
    }
}

.bloglr .contentright {
    display: block;
    float: left;
    padding-left: 15px;
    width: calc(100% - 240px);
    -webkit-width: calc(100% - 240px);
    -moz-width: calc(100% - 240px);
    -o-width: calc(100% - 240px);
    -os-width: calc(100% - 240px)
}

@media (max-width: 767px) {
    .bloglr .contentright {
        width: calc(100% - 130px);
        -webkit-width: calc(100% - 130px);
        -moz-width: calc(100% - 130px);
        -o-width: calc(100% - 130px);
        -os-width: calc(100% - 130px)
    }

    .bloglr .contentright p {
        display: none
    }
}

.left-content .aside-title {
    margin-top: 0px
}

.left-content .aside-blog {
    margin-top: 15px
}

.left-content .aside-blog .nav-item {
    position: relative;
    clear: left;
    font-size: em(14px);
    padding: 5px 0px 5px 0px
}

.left-content .aside-blog .nav-item:last-child {
    border-bottom: none
}

.left-content .aside-blog .nav-item a {
    font-size: em(14px);
    font-weight: bold
}

.left-content .aside-blog .nav-item .fa {
    width: 30px;
    height: 30px;
    line-height: 28px;
    text-align: center;
    cursor: pointer
}

.left-content .aside-blog .nav-item .fa.fa-caret-right {
    right: auto;
    left: 0;
    top: 16px;
    text-align: left
}

.left-content .aside-blog .nav-item .dropdown-menu {
    width: 100%;
    border: 0;
    padding-left: 15px
}

.left-content .aside-blog .nav-item.active {
    border-bottom: none
}

.left-content .aside-blog .nav-item.active>a {
    color: #fe5767
}

.left-content .aside-blog .nav-item.active>.fa {
    color: #fe5767
}

.left-content .aside-blog .nav-item.active>.dropdown-menu {
    display: block
}

.left-content .aside-blog .nav-item:hover>a {
    color: #fe5767;
    background-color: transparent
}

.blogitemul {
    width: 100%;
    float: left;
    padding-left: 0
}

.blogitemul li {
    position: relative
}

.blogitemul li a {
    display: block;
    padding-left: 10px;
    font-size: 14px;
    line-height: 30px;
    color: #222
}

.blogitemul li a:hover {
    color: #fe5767
}

.blogitemul li a:before {
    content: "";
    height: 3px;
    width: 3px;
    border-radius: 3px;
    background: #222;
    position: absolute;
    left: 0;
    top: 13px
}

.article-main .rte {
    font-family: "Arial";
    font-weight: 400;
    color: #222;
    font-size: 14px;
    margin-top: 5px;
    margin-bottom: 30px
}

.article-main .rte iframe {
    height: auto !important;
    max-width: 100% !important
}

.article-main .rte ul,
.article-main .rte ol {
    padding-left: 15px
}

.article-main .rte ul li,
.article-main .rte ol li {
    padding-left: 0px
}

.article-main .article-title {
    margin-top: 0px;
    margin-bottom: 15px;
    font-size: 32px;
    font-family: "Arial";
    font-weight: 700;
    color: #222;
    line-height: 36px
}

@media (max-width: 767px) {
    .article-main .article-title {
        font-size: 18px;
        line-height: 24px
    }
}

.article-main .post-date {
    padding-bottom: 15px;
    font-size: 14px;
    text-align: right;
    line-height: 27px;
    border-bottom: solid 1px #ebebeb;
    margin-bottom: 15px
}

.article-main .post-date span:first-child {
    color: #6e7874;
    float: left;
    margin-right: 30px
}

@media (max-width: 767px) {
    .article-main .post-date {
        text-align: left
    }

    .article-main .post-date span:last-child {
        width: 100%;
        float: left
    }
}

.article-main .article-content {
    font-size: 14px;
    margin-top: 10px
}

.article-main .form-group {
    margin: 0;
    padding-top: 0;
    padding-bottom: 5px
}

.share_social {
    padding: 10px 0;
    border-bottom: solid 1px #ebebeb;
    margin-bottom: 30px
}

.share_social .fa,
.share_social .fas,
.share_social .fab {
    color: #acacac
}

.share_social a {
    font-size: 14px;
    color: #222;
    display: inline-block;
    padding: 0 10px;
    border: solid 1px #ebebeb;
    border-radius: 3px;
    margin-bottom: 5px
}

.share_social a:hover {
    border-color: #fe5767;
    color: #fe5767
}

.share_social span {
    display: inline-block;
    float: left;
    font-weight: 700;
    padding: 0 10px;
    border: solid 1px #ebebeb;
    border-radius: 3px;
    margin-right: 10px;
    color: #222
}

.share_social span .fa {
    color: #222;
    font-size: 12px
}

.tag-share {
    clear: left;
    padding: 20px 0;
    border-bottom: 1px solid #EAEBF3;
    line-height: 30px
}

.tag_article {
    color: #333;
    padding-left: 0px;
    font-size: 14px
}

.tag_article .fa {
    transform: translateY(1px)
}

.tag_article a {
    color: #636363
}

.tag_article a:hover {
    color: #fe5767
}

.social-sharing {
    text-align: left;
    line-height: 40px;
    border: solid 1px #ebebeb;
    border-radius: 3px;
    padding: 0 15px;
    margin-bottom: 10px
}

@media (max-width: 767px) {
    .social-sharing {
        padding: 10px;
        line-height: 20px
    }
}

.social-sharing span {
    font-size: 14px;
    display: inline-block;
    float: left
}

.social-sharing .addthis_inline_share_toolbox {
    display: inline-block;
    float: left;
    margin-top: 10px
}

@media (max-width: 767px) {
    .tag-share>div {
        text-align: left !important;
        padding-left: 0px
    }

    .tag-share .social-sharing {
        float: left !important;
        margin-top: 5px
    }
}

.title-form-coment {
    font-size: 18px;
    font-family: "Arial";
    font-weight: 400;
    text-transform: none;
    margin-top: 20px;
    margin-bottom: 5px;
    color: #222
}

.article-main form {
    display: block;
    padding-top: 0px;
    margin-top: 10px;
    border-bottom: solid 1px #ebebeb;
    padding-bottom: 30px
}

.article-main form label {
    display: block;
    margin-bottom: 4px;
    font-weight: 700
}

.article-main form label .required {
    color: #ff0000
}

.article-main form .form-group input {
    height: 50px;
    border-radius: 5px;
    border: solid 1px #ebebeb;
    background-color: #ebebeb;
    padding: 0 15px;
    outline: none;
    color: #222
}

.article-main form .form-group textarea {
    border-radius: 5px;
    border: solid 1px #ebebeb;
    background-color: #ebebeb;
    padding: 10px;
    outline: none;
    color: #222
}

.article-main form .form-group textarea::placeholder {
    color: #222;
    opacity: 1
}

.article-main form .form-group textarea:-ms-input-placeholder {
    color: #222
}

.article-main form .form-group textarea::-ms-input-placeholder {
    color: #222
}

.article-main .button_45 {
    height: 40px;
    line-height: 40px;
    padding: 0 15px;
    background: #ff384b;
    font-family: "Arial";
    font-size: 14px;
    color: #fff;
    border: solid 1px #ff384b;
    border-radius: 5px;
    font-weight: 700
}

.article-main .button_45:hover {
    background: #fff;
    border-color: #fe5767;
    color: #fe5767
}

#article-comments {
    margin-top: 30px
}

#article-comments .article-comment {
    margin-bottom: 30px;
    padding-bottom: 20px;
    border-bottom: 1px dotted #c9c8c5
}

#article-comments .article-comment:last-child {
    padding-bottom: 30px
}

#article-comments .article-comment-user-image {
    margin: 0;
    float: left;
    width: 80px;
    margin-right: 12px;
    height: 80px;
    border-radius: 0;
    display: block
}

#article-comments .article-comment-user-comment {
    display: block;
    float: left;
    width: calc(100% - 95px);
    -webkit-width: calc(100% - 95px);
    -moz-width: calc(100% - 95px);
    -o-width: calc(100% - 95px);
    -os-width: calc(100% - 95px);
    padding-left: 10px;
    word-break: break-word;
    font-size: em(14px)
}

#article-comments .user-name-comment {
    margin: 0;
    color: #222;
    font-size: 14px;
    line-height: 1;
    font-weight: 700;
    font-family: "Arial"
}

#article-comments .user-name-comment strong {
    font-family: 'Roboto', sans-serif;
    font-weight: 700
}

#article-comments .article-comment-date-bull {
    padding: 5px 0;
    display: block;
    color: #b0b0b0;
    font-size: 12px;
    font-family: "Arial"
}

#article-comments .cm {
    font-family: "Arial";
    font-size: 14px;
    color: #707070
}

.article_page .pagination {
    margin: 0
}

.social-media {
    font-size: em(14px)
}

.social-media .list-inline li {
    margin-right: 20px
}

.section-news-2 {
    margin-bottom: 20px
}

.bloglq h2 {
    font-family: "Arial";
    font-size: 18px;
    font-weight: 400;
    color: #222;
    margin: 0 0 20px;
    padding: 0;
    display: block
}

.bloglq h2 a {
    color: #222
}

.bloglq h2 a:hover {
    color: #fe5767
}

.bloglq .slickblog {
    margin: 0 -15px
}

.bloglq .slickblog .slick-slide {
    margin: 0 15px
}

.bloglq .slickblog .slick-slide .blogwp .post-date {
    border-bottom: none;
    line-height: 22px;
    margin-bottom: 0
}

.bloglq .slickblog .slick-slide .blogwp .post-date span:first-child {
    color: #6e7874;
    float: left;
    width: 100%;
    text-align: left;
    line-height: 19px;
    background: transparent
}