.h1_title {
    font-size: 20px;
    font-family: 'Arial';
    color: #222;
    font-weight: 400
}

.first {
    width: 100%
}

.last {
    width: 100%;
    margin-bottom: 15px
}

.search-main .products-view-grid {
    border-top: none;
    display: block;
    float: left;
    width: 100%
}

.search-main .title_search {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    text-transform: none;
    font-size: 14px
}

@media (max-width: 991px) {
    .search-main .title_search {
        font-size: 14px
    }
}

@media (min-width: 768px) {
    .search-main .form_search_h {
        width: 300px;
        float: left;
        line-height: 2.1;
        border-radius: 0;
        border-top-left-radius: 3px;
        border-bottom-left-radius: 3px
    }
}

@media (min-width: 768px) {
    .search-main .btn_search_h {
        border-radius: 0;
        margin-left: -1px;
        border-top-right-radius: 3px;
        border-bottom-right-radius: 3px
    }
}

@media (max-width: 991px) {
    .search-main .cls_search .content_col {
        margin: 0 -7.5px
    }
    .search-main .cls_search .content_col .col-custome {
        padding: 0 7.5px
    }
}

@media (max-width: 767px) {
    .search-main .cls_search .content_col .col-custome .item_product_main {
        padding: 10px
    }
}

@media (min-width: 1200px) {
    .search-main .cls_search .item_product_main .product-thumbnail .image_thumb {
        height: 253px
    }
}

@media (max-width: 1199px) and (min-width: 992px) {
    .search-main .cls_search .item_product_main .product-thumbnail .image_thumb {
        height: 212px
    }
}

@media (min-width: 768px) and (max-width: 1199px) {
    .search-main .cls_search .item_product_main .product-thumbnail .image_thumb {
        height: 188px
    }
}

@media (min-width: 375px) and (max-width: 480px) {
    .search-main .cls_search .item_product_main .product-thumbnail .image_thumb {
        height: 135px
    }
}

@media (min-width: 320px) and (max-width: 374px) {
    .search-main .cls_search .item_product_main .product-thumbnail .image_thumb {
        height: 108px
    }
}

.sortPagiBar {
    float: right
}

.sort-cate {
    display: inline-block;
    float: right
}

@media (max-width: 480px) {
    .sort-cate {
        float: none !important
    }
}

.sort-cate .sort-cate-left {
    float: left;
    margin-top: 5px
}

.sort-cate .sort-cate-left h3 {
    font-size: 14px;
    font-weight: 700;
    float: left;
    margin: 0;
    margin-top: 2px;
    color: #222;
    display: inline-block;
    float: left;
    width: 100px
}

.sort-cate .sort-cate-left ul {
    float: left;
    display: block;
    padding-left: 0;
    width: calc(100% - 100px);
    -webkit-width: calc(100% - 100px);
    -o-width: calc(100% - 100px);
    -os-width: calc(100% - 100px);
    -moz-width: calc(100% - 100px)
}

.sort-cate .sort-cate-left ul li {
    float: left;
    padding: 0 0 0 20px
}

@media (min-width: 768px) and (max-width: 991px) {
    .sort-cate .sort-cate-left ul li:first-child {
        padding-left: 0px
    }
}

.sort-cate .sort-cate-left ul li.active a {
    color: #fe5767
}

.sort-cate .sort-cate-left ul li a {
    font-size: 14px;
    position: relative
}

.sort-cate .sort-cate-left ul li a i {
    height: 14px;
    width: 14px;
    border: 1px solid #cdcfdd;
    border-radius: 3px;
    display: inline-block;
    vertical-align: middle;
    border-radius: 14px;
    margin: -3px 5px 0 0;
    position: relative
}

.sort-cate .sort-cate-left ul li:hover i,
.sort-cate .sort-cate-left ul li.active i {
    background: #fe5767;
    height: 14px;
    width: 14px;
    border: none;
    border-radius: 14px
}

.sort-cate .sort-cate-left ul li:hover i:before,
.sort-cate .sort-cate-left ul li.active i:before {
    font-family: 'Font Awesome\ 5 Free';
    font-weight: 900;
    content: "\f00c";
    color: #fff;
    position: absolute;
    width: 14px;
    border-radius: 14px;
    height: 14px;
    line-height: 14px;
    top: 0px;
    font-size: 10px;
    left: 1px
}

.sort-cate .sort-cate-right {
    float: right
}

.sort-cate .sort-cate-right h3 {
    font-size: 14px;
    font-weight: normal;
    float: left;
    margin: 0;
    margin-top: 5px;
    margin-right: 5px
}

.sort-cate .sort-cate-right .view-mode {
    display: inline-block
}

@media (max-width: 480px) {
    .sort-cate .sort-cate-right .view-mode {
        text-align: center;
        display: block
    }
}

.sort-cate .sort-cate-right .view-mode a {
    border: 1px solid #eaeced;
    width: 65px;
    display: inline-block;
    color: #333;
    font-size: 14px;
    height: auto;
    line-height: inherit;
    float: left;
    border-radius: 0;
    height: 30px;
    line-height: 30px
}

@media (min-width: 413px) and (max-width: 415px) {
    .sort-cate .sort-cate-right .view-mode a {
        width: 90px
    }
}

@media (min-width: 374px) and (max-width: 380px) {
    .sort-cate .sort-cate-right .view-mode a {
        width: 80px
    }
}

.sort-cate .sort-cate-right .view-mode a.active,
.sort-cate .sort-cate-right .view-mode a:hover {
    color: #fe5767
}

.sort-cate .sort-cate-right .view-mode a+a {
    margin-left: 5px
}

@media (max-width: 480px) {
    .sort-cate .sort-cate-right .view-mode a {
        float: none
    }
}

@media (max-width: 480px) {
    .sort-cate .sort-cate-right {
        width: 50%
    }
    .sort-cate .sort-cate-right h3 {
        display: block;
        text-align: left;
        margin-right: 0;
        float: none
    }
}

@media (max-width: 480px) {
    .sort-cate .sort-cate-right-mobile {
        width: 100%;
        float: left
    }
    .sort-cate .sort-cate-right-mobile #sort-by {
        float: none;
        margin-left: 0px;
        width: 100%;
        padding: 5px 0
    }
    .sort-cate .sort-cate-right-mobile #sort-by .left {
        display: block;
        float: left;
        line-height: 1.4;
        font-weight: normal;
        margin-right: 10px;
        margin-top: 5px;
        width: 60px
    }
    .sort-cate .sort-cate-right-mobile #sort-by ul {
        width: calc(100% - 80px)
    }
    .sort-cate .sort-cate-right-mobile #sort-by ul>li {
        border: 1px solid #eaeced;
        padding: 0 5px;
        width: 100%;
        line-height: 28px
    }
    .sort-cate .sort-cate-right-mobile #sort-by ul ul {
        background-color: #fff;
        width: 100% !important;
        top: 27px
    }
    .sort-cate .sort-cate-right-mobile #sort-by ul ul li {
        width: 100%;
        border: none
    }
}

.dqdt-sidebar {
    margin-top: 0px;
    position: relative;
    z-index: 9
}

.wrap_background {
    background: #ebebeb
}

@media (max-width: 991px) {
    .wrap_background {
        background: #fff
    }
}

.bg_collection {
    background: #fff;
    border: solid 1px #ebebeb;
    padding: 15px 10px;
    margin: 0px 0 0px;
    border-top: none
}

@media (max-width: 991px) {
    .bg_collection {
        margin: 0px;
        padding: 0;
        border: none
    }
}

.owlnav_cate {
    box-shadow: 0px 1px 15.57px 2.43px rgba(20, 64, 51, 0.05)
}

.owl_category .item_category {
    float: left;
    width: 100%
}

.owl_category .item_category .item {
    width: 100%;
    float: left;
    cursor: pointer;
    border: solid 1px transparent
}

.owl_category .item_category .item:hover {
    border-color: #fe5767
}

.owl_category .item_category .thumb_s {
    width: 100%;
    float: left;
    min-height: 70px;
    background: #fff;
    padding: 10px 15px;
    align-items: center;
    position: relative;
    -webkit-transition: all 300ms ease-in-out;
    -moz-transition: all 300ms ease-in-out;
    -ms-transition: all 300ms ease-in-out;
    -o-transition: all 300ms ease-in-out;
    transition: all 300ms ease-in-out
}

@media (max-width: 991px) {
    .owl_category .item_category .thumb_s {
        padding: 5px
    }
}

.owl_category .item_category .thumb_s .image {
    align-items: center;
    display: flex;
    width: 100%;
    text-align: center;
    float: left;
    height: 120px;
    line-height: 120px;
    margin-bottom: 15px
}

.owl_category .item_category .thumb_s .image img {
    margin: 0 auto;
    max-width: 100%;
    max-height: 100%
}

.owl_category .item_category .thumb_s .image img.none {
    filter: invert(1)
}

.owl_category .item_category .thumb_s .info {
    display: block;
    float: left;
    width: 100%;
    text-align: center
}

.owl_category .item_category .thumb_s .info h4 {
    padding: 0;
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    font-size: 13px;
    overflow: hidden;
    height: 22px;
    text-overflow: ellipsis;
    white-space: nowrap
}

.owl_category .slick-arrow {
    font-size: 0;
    line-height: 0;
    position: absolute;
    top: 50%;
    display: block;
    width: 40px;
    height: 40px;
    padding: 0;
    -webkit-transform: translate(0, -50%);
    -ms-transform: translate(0, -50%);
    transform: translate(0, -50%);
    cursor: pointer;
    color: transparent;
    border: none;
    outline: none;
    background: transparent;
    line-height: 40px;
    text-align: center;
    z-index: 2
}

.owl_category .slick-arrow.slick-prev {
    left: 0px;
    padding-top: 2px;
    width: 40px;
    height: 40px
}

.owl_category .slick-arrow.slick-prev:before {
    content: "";
    background-image: url(//bizweb.dktcdn.net/100/374/880/themes/748270/assets/control_slick.png?1594637019384);
    height: 30px;
    width: 30px;
    display: block;
    position: relative;
    top: 11px;
    left: 10px;
    background-repeat: no-repeat
}

.owl_category .slick-arrow.slick-next {
    right: -30px;
    width: 40px;
    height: 40px
}

.owl_category .slick-arrow.slick-next:before {
    content: "";
    background-image: url(//bizweb.dktcdn.net/100/374/880/themes/748270/assets/control_slick.png?1594637019384);
    height: 30px;
    width: 30px;
    display: block;
    -webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -o-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    transform: rotate(180deg);
    position: relative;
    top: 13px;
    left: 17px;
    background-repeat: no-repeat
}

.owl_category .slick-arrow {
    top: 45%
}

@media (max-width: 767px) {
    .owl_category .slick-arrow {
        top: 45%
    }
}

.owl_category .slick-arrow.slick-next,
.owl_category .slick-arrow.slick-prev {
    align-items: center;
    justify-content: center;
    background: #ebebeb;
    width: 40px;
    height: 40px;
    line-height: 40px;
    border-radius: 5px
}

@media (max-width: 767px) {
    .owl_category .slick-arrow.slick-next,
    .owl_category .slick-arrow.slick-prev {
        width: 35px;
        height: 35px;
        line-height: 35px;
        border-radius: 5px
    }
}

.owl_category .slick-arrow.slick-next:hover,
.owl_category .slick-arrow.slick-prev:hover {
    background: #fe5767
}

.owl_category .slick-arrow.slick-next:hover:before,
.owl_category .slick-arrow.slick-prev:hover:before {
    filter: brightness(0) invert(1)
}

.owl_category .slick-arrow.slick-next.slick-disabled,
.owl_category .slick-arrow.slick-prev.slick-disabled {
    background: #f5f5f5;
    cursor: default
}

.owl_category .slick-arrow.slick-next.slick-disabled:before,
.owl_category .slick-arrow.slick-prev.slick-disabled:before {
    filter: brightness(0) invert(1)
}

.owl_category .slick-arrow.slick-next {
    right: 15px
}

.owl_category .slick-arrow.slick-next:before {
    top: 2px;
    left: 6px
}

@media (max-width: 767px) {
    .owl_category .slick-arrow.slick-next {
        right: 0
    }
    .owl_category .slick-arrow.slick-next:before {
        top: 10px;
        left: 9px;
        height: 15px;
        width: 17px;
        background-size: contain;
        background-repeat: no-repeat
    }
}

.owl_category .slick-arrow.slick-prev {
    left: 15px
}

.owl_category .slick-arrow.slick-prev:before {
    top: 6px;
    left: 5px
}

@media (max-width: 767px) {
    .owl_category .slick-arrow.slick-prev {
        left: 0
    }
    .owl_category .slick-arrow.slick-prev:before {
        top: 7px;
        left: 9px;
        height: 15px;
        width: 17px;
        background-size: contain;
        background-repeat: no-repeat
    }
}

.slick_margin.slick-slider {
    margin: 0 -15px
}

.slick_margin .slick-slide {
    margin: 0 15px
}

.category-products .item_product_main .product-item-main,
.cls_search .item_product_main .product-item-main {
    border: solid 1px #ebebeb
}

.category-products .item_product_main .product-item-main .product-bottom .blockprice,
.cls_search .item_product_main .product-item-main .product-bottom .blockprice {
    padding-bottom: 60px
}

@media (min-width: 992px) and (max-width: 1199px) {
    .category-products .item_product_main .product-item-main .product-bottom .form-nut-grid .group_action,
    .cls_search .item_product_main .product-item-main .product-bottom .form-nut-grid .group_action {
        left: -15px
    }
}

.wrap_background_aside {
    width: 100%;
    float: left
}

@media (max-width: 1199px) {
    .wrap_background_aside.asidecollection {
        margin-top: 0px
    }
}

.slider-items-products {
    position: relative
}

.slider-items-products .collectiontitle {
    margin: 0;
    width: 50%;
    text-align: center;
    left: 25%;
    top: 50%;
    background: rgba(0, 0, 0, 0.5);
    padding: 30px;
    height: 120px !important;
    margin-top: -60px;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center
}

.slider-items-products .collectiontitle h1 {
    font-size: 24px;
    font-family: 'Open Sans', sans-serif;
    padding: 0;
    margin: 0;
    color: #fff
}

@media (max-width: 991px) {
    .slider-items-products .collectiontitle {
        width: 100%;
        left: 0
    }
    .slider-items-products .collectiontitle h1 {
        font-size: 18px
    }
}

.listoffice {
    width: 100%;
    float: left;
    overflow: hidden;
    padding: 20px;
    margin-bottom: 20px;
    border: 1px solid #EFEFEF
}

.listoffice form {
    margin-bottom: 0
}

.listoffice .product-thumbnail {
    width: 230px;
    display: block;
    float: left
}

.listoffice .product-info {
    width: calc(100% - 230px);
    display: block;
    float: left;
    padding-top: 0;
    padding-left: 30px;
    text-align: left;
    padding-bottom: 0
}

.listoffice .product-info .product-name {
    font-size: 24px;
    padding: 0;
    margin: 0 0 15px;
    color: #222
}

.listoffice .product-info .price-box {
    text-align: left
}

.listoffice .product-info .desproduct {
    font-size: 12px;
    font-family: Arial, Helvetica, sans-serif;
    margin-bottom: 15px;
    color: #666
}

.listoffice .product-info .desproduct a {
    font-size: 13px;
    font-weight: normal
}

@media (min-width: 992px) {
    .section.flex {
        padding: 0 0 40px
    }
}

.collection .collection-image img {
    width: 100%
}

.collection .product-box-h {
    min-height: 415px
}

@media (min-width: 992px) and (max-width: 1199px) {
    .collection .product-box-h {
        min-height: 350px
    }
}

@media (min-width: 768px) and (max-width: 991px) {
    .collection .product-box-h {
        min-height: 340px
    }
}

@media (min-width: 543px) and (max-width: 767px) {
    .collection .product-box-h {
        min-height: 310px
    }
}

@media (max-width: 480px) {
    .collection .product-box-h {
        min-height: 270px
    }
}

.sidebar .title-head {
    margin: 0px;
    font-size: 14px !important;
    position: relative;
    display: block
}

.sidebar .title-head span {
    display: block;
    padding: 0px
}

.product-mini-lists .products {
    border: none !important
}

@media (min-width: 1200px) {
    .products-view-grid .col-lg-4:nth-child(3n+1) {
        clear: left
    }
}

@media (min-width: 992px) and (max-width: 1199px) {
    .products-view-grid .col-md-4:nth-child(3n+1) {
        clear: left
    }
}

@media (min-width: 768px) and (max-width: 991px) {
    .products-view-grid .col-sm-4:nth-child(3n+1) {
        clear: left
    }
}

@media (max-width: 767px) {
    .products-view-grid .col-xs-6:nth-child(2n+1) {
        clear: left
    }
}

@media (max-width: 767px) {
    .product-box .btn-white {
        padding: 0 10px
    }
}

.view-mode>a {
    width: 34px;
    height: 34px;
    display: inline-block;
    margin-left: 2px
}

.view-mode span {
    font-size: 0
}

.tt span {
    font-size: 14px
}

.tt.hidden-sm.hidden-xs {
    padding-left: 95px;
    padding-top: 10px;
    display: inline-block
}

.button-view-mode {
    padding: 0;
    margin: 0;
    width: 34px;
    height: 34px;
    box-shadow: none;
    line-height: 34px;
    font-size: 13px;
    background: #fff;
    border-radius: 3px;
    border: 1px solid #ddd;
    color: #000
}

.button-view-mode.active {
    color: #fff;
    border: 1px solid #fe5767;
    background: #fe5767;
    box-shadow: none
}

.button-view-mode.active a {
    color: #fe5767
}

.button-view-mode .fa {
    font-size: 13px
}

.button-view-mode .ion-grid {
    font-size: 21px
}

.button-view-mode .ion-navicon {
    font-size: 26px
}

.button-view-mode:hover {
    color: #fff;
    border: 1px solid #fe5767;
    background: #fe5767
}

@media (max-width: 767px) {
    .title_collec {
        margin-bottom: 15px
    }
}

.section.border-bottom {
    margin-bottom: 30px;
    height: 5px
}

.collection .title-head {
    display: inherit;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    font-size: 20px;
    font-weight: bold;
    text-transform: uppercase;
    line-height: 30px;
    margin: 0
}

@media (max-width: 991px) {
    .collection .title-head {
        position: relative;
        margin-bottom: 0px
    }
}

.collection .tt span {
    text-transform: none;
    font-size: 14px;
    font-weight: 400;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol"
}

.collection .text-sm-left {
    padding-top: 6px
}

@media (max-width: 767px) {
    .collection .category-products .border-bottom {
        border: none !important;
        height: unset;
        margin-bottom: 0
    }
}

.collection .category-products .sortPagiBar {
    display: inline-block;
    padding: 0;
    margin-bottom: 0px;
    margin-top: -35px;
    padding-bottom: 5px;
    float: right
}

@media (max-width: 767px) {
    .collection .category-products .sortPagiBar {
        width: 100%;
        float: left;
        margin-top: 0;
        display: block
    }
}

.collection .category-products .sortPagiBar .wr_sort {
    margin-bottom: 0px;
    padding: 0px 0px 3px
}

@media (max-width: 767px) {
    .collection .category-products .sortPagiBar .wr_sort {
        border-bottom: none;
        margin-bottom: 0px
    }
}

.collection .category-products .sortPagiBar .wr_sort .text-sm-right .ht_xxx {
    float: left;
    height: 30px;
    display: inline-block;
    line-height: 32px;
    margin-right: 5px;
    font-size: 14px;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol"
}

.collection .category-products .sortPagiBar .wr_sort .text-sm-right .view-mode {
    display: inline-block
}

.collection .category-products .sortPagiBar .wr_sort .text-sm-right .view-mode a {
    width: 34px;
    margin-right: 5px
}

.collection .category-products .sortPagiBar .wr_sort .text-sm-right .sorby_xxx {
    display: inline;
    float: right
}

.collection .category-products .sortPagiBar .wr_sort .text-sm-right .sorby_xxx .left {
    float: left;
    font-weight: 400;
    line-height: 33px;
    font-size: 14px !important;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    margin-right: 6px;
    margin-bottom: 0
}

.collection .category-products .sortPagiBar .wr_sort .text-sm-right .sorby_xxx ul li {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    font-weight: 400
}

.collection .category-products .sortPagiBar2 {
    display: inline-block;
    padding: 0;
    margin-bottom: 15px;
    margin-top: -5px;
    width: 100%
}

.collection .category-products .sortPagiBar2 .wr_sort {
    margin-bottom: 0px;
    padding: 0px 0px 3px
}

@media (max-width: 767px) {
    .collection .category-products .sortPagiBar2 .wr_sort {
        border-bottom: none;
        margin-bottom: 0px
    }
}

.collection .category-products .sortPagiBar2 .wr_sort .text-sm-right .ht_xxx {
    float: left;
    height: 30px;
    display: inline-block;
    line-height: 32px;
    margin-right: 5px;
    font-size: 14px;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol"
}

.collection .category-products .sortPagiBar2 .wr_sort .text-sm-right .view-mode {
    display: inline-block
}

.collection .category-products .sortPagiBar2 .wr_sort .text-sm-right .view-mode a {
    width: 34px;
    margin-right: 5px
}

.collection .category-products .sortPagiBar2 .wr_sort .text-sm-right .sorby_xxx {
    display: inline;
    float: right
}

.collection .category-products .sortPagiBar2 .wr_sort .text-sm-right .sorby_xxx .left {
    float: left;
    font-weight: 400;
    line-height: 33px;
    font-size: 14px !important;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    margin-right: 6px;
    margin-bottom: 0
}

.collection .category-products .sortPagiBar2 .wr_sort .text-sm-right .sorby_xxx ul li {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    font-weight: 400
}

.collection .category-products .products-view-grid {
    float: left;
    width: 100%
}

.category-products {
    width: 100%;
    float: left
}

@media (max-width: 767px) {
    .category-products {
        padding-top: 0
    }
}

.collection_reponsive .row {
    margin: 0 -7.5px
}

.collection_reponsive .row .product-col {
    padding: 0 7.5px
}

@media (max-width: 767px) {
    .collection_reponsive .item_product_main {
        padding: 10px 10px 0
    }
}

.collection_reponsive .item_product_main .image_thumb {
    height: 175px
}

@media (min-width: 768px) and (max-width: 1199px) {
    .collection_reponsive .item_product_main .image_thumb {
        height: 198px
    }
}

@media (min-width: 375px) and (max-width: 480px) {
    .collection_reponsive .item_product_main .image_thumb {
        height: 168px
    }
}

@media (min-width: 320px) and (max-width: 374px) {
    .collection_reponsive .item_product_main .image_thumb {
        height: 115px
    }
}

@media (min-width: 1200px) {
    .collection_reponsive .col-lg-4:nth-child(3n+1) {
        clear: left
    }
}

@media (min-width: 992px) and (max-width: 1199px) {
    .collection_reponsive .col-md-3:nth-child(4n+1) {
        clear: left
    }
}

@media (min-width: 768px) and (max-width: 991px) {
    .collection_reponsive .col-sm-3:nth-child(4n+1) {
        clear: left
    }
}

@media (max-width: 767px) {
    .collection_reponsive .col-xs-6:nth-child(2n+1) {
        clear: left
    }
}

.group_search_width {
    width: 500px;
    float: left;
    position: relative
}

.group_search_width input {
    border-radius: 40px !important;
    width: 100% !important;
    padding-right: 115px !important
}

.group_search_width button {
    position: absolute;
    top: 0;
    right: 0;
    border-radius: 40px !important
}

@media (min-width: 1200px) {
    .cls_search .col-lg-3:nth-child(4n+1) {
        clear: left
    }
}

@media (min-width: 992px) and (max-width: 1199px) {
    .cls_search .col-md-4:nth-child(3n+1) {
        clear: left
    }
}

@media (max-width: 991px) and (min-width: 768px) {
    .cls_search .col-sm-4:nth-child(3n+1) {
        clear: left
    }
}

@media (max-width: 767px) {
    .cls_search .col-xs-6:nth-child(2n+1) {
        clear: left
    }
}

.filter-group {
    padding: 10px 0px 0px 0px
}

.filter-group ul {
    max-height: 245px;
    overflow-y: auto
}

.filter-group ul.size_xx {
    overflow-y: inherit !important
}

.filter-group ul::-webkit-scrollbar-track {
    border-radius: 10px;
    background-color: #fff;
    width: 5px
}

.filter-group ul::-webkit-scrollbar {
    width: 5px;
    background-color: #fff
}

.filter-group ul::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background-color: #919aa8;
    width: 5px
}

.filter-group-title {
    display: block;
    font-size: em(18px);
    margin-bottom: 10px
}

.filter-group {
    position: relative
}

.filter-item {
    margin: 0;
    cursor: pointer;
    line-height: 28px;
    min-width: 100%;
    float: left;
    padding: 0px;
    position: relative
}

@media (max-width: 991px) {
    .filter-item {
        padding-right: 0px !important;
        padding: 0px !important
    }
}

.filter-item .label_relative {
    position: relative
}

.filter-item .label_relative .filter_tt {
    padding-left: 5px;
    display: inline-block
}

.filter-item.filter-color-size {
    min-width: 0px;
    padding: 0px
}

.filter-item.filter-size {
    min-width: 0px;
    padding: 0px;
    background: #fff;
    text-align: center;
    margin-right: 5px;
    margin-bottom: 5px;
    line-height: 25px;
    color: #252525;
    position: relative
}

.filter-item.filter-size .fa {
    opacity: 0;
    width: 30px;
    height: 30px;
    position: relative
}

.filter-item.filter-size .tags_size {
    color: #222
}

.filter-item .name_color {
    line-height: 25px;
    display: inline-block;
    height: 20px;
    position: absolute;
    font-size: 14px;
    color: #6f6f6f;
    text-transform: inherit
}

.filter-item * {
    cursor: pointer;
    color: #222;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    font-size: 14px;
    font-weight: 400
}

@media (min-width: 992px) and (max-width: 1199px) {
    .filter-item * {
        font-size: 12px
    }
}

.filter-item *:active {
    color: #ff384b
}

.filter-item.size {
    min-width: unset;
    width: 40px;
    height: 40px;
    line-height: 40px;
    line-height: 40px;
    border: 1px solid #ebebeb;
    margin-right: 10px;
    margin-bottom: 10px;
    background: #fff;
    position: relative
}

.filter-item.size span {
    width: 40px;
    height: 40px;
    line-height: 40px;
    line-height: 40px
}

.filter-item.size .tags_size {
    width: 40px;
    height: 40px;
    font-size: 13px;
    display: inherit;
    position: relative;
    position: absolute
}

.filter-item.size .tags_size input {
    width: 40px;
    height: 40px
}

.filter-item.size .tags_size input:checked+span {
    color: #fe5767
}

.filter-item.size .tags_size .fa {
    opacity: 0
}

.filter-item.size .tags_size:before {
    display: block;
    content: "";
    width: 40px;
    height: 40px;
    position: absolute;
    left: 0px;
    top: 0;
    border-radius: 3px;
    opacity: 0
}

.filter-item.size .tags_size span {
    position: absolute;
    top: 0;
    left: 0;
    width: 40px;
    height: 40px;
    margin: 0;
    text-align: center;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    color: #222
}

.filter-item.size .tags_size span:after {
    opacity: 0
}

.filter-item.size .tags_size:hover span {
    color: #fe5767
}

.filter-item.size input:checked+.tags_size:before {
    opacity: 0
}

.filter-item.color {
    min-width: 20px;
    border: none !important;
    margin-bottom: 10px !important;
    height: 30px
}

.filter-item.color a,
.filter-item.color label {
    width: 100%;
    height: 100%;
    display: inline-block;
    font-size: 0
}

.filter-item.color .fa {
    margin-right: 10px;
    width: 30px;
    height: 30px;
    background: red;
    border-radius: 50%;
    position: relative
}

.filter-item.color .fa:before {
    display: none
}

.filter-item.color .fa.trang:hover:before {
    display: block;
    content: "";
    width: 30px;
    height: 30px !important;
    position: absolute;
    left: 0px;
    top: 0px;
    border: 1px solid #8D90A6;
    border-radius: 50%
}

.filter-item.color .fa:hover:before {
    display: block;
    content: "";
    width: 30px;
    height: 30px !important;
    position: absolute;
    left: 0px;
    top: 0px;
    border: 1px solid #8D90A6;
    border-radius: 50%
}

.filter-item.color input:checked+.fa:before {
    display: block;
    content: "";
    width: 15px;
    height: 15px !important;
    position: absolute;
    left: 7px;
    top: 7px;
    border: 0px solid #ef562c
}

.filter-item.color input:checked+.fa.trang:before {
    display: block;
    content: "";
    width: 15px;
    height: 15px !important;
    position: absolute;
    left: 7px;
    top: 7px;
    border: 0px solid #ef562c
}

.color input:checked+.fa:after {
    display: none
}

.filter-item--green *:hover {
    color: #fe5767
}

.filter-item--half {
    display: inline-block;
    width: 48%;
    white-space: nowrap;
    overflow: hidden;
    margin-right: 3px
}

.filter-item--check-box input {
    display: block;
    z-index: 9;
    width: 20px;
    height: 20px
}

.filter-item--check-box .fa {
    margin-right: 15px;
    width: 14px;
    font-size: 18px;
    line-height: 40px;
    position: relative;
    top: 2px
}

.filter-item--check-box input+.fa:before {
    content: "";
    margin-right: 5px;
    border-radius: 0;
    font-size: 18px;
    border: solid 2px #ebebeb;
    line-height: 40px;
    position: absolute;
    top: -17px;
    height: 20px !important;
    width: 20px;
    background: #fff
}

.filter-item--check-box input:checked+span {
    color: #fe5767
}

.filter-item--check-box input:checked+.fa,
.filter-item--check-box input+span {
    color: #fe5767
}

.filter-item--check-box input:checked+.fa:before,
.filter-item--check-box input+span:before {
    border-color: #fe5767
}

.filter-item--check-box input:checked+.fa:after,
.filter-item--check-box input+span:after {
    font-family: 'FontAwesome';
    content: "";
    color: #fe5767;
    position: absolute;
    width: 10px;
    height: 10px;
    line-height: 10px;
    border-radius: 0;
    background: #fe5767;
    top: -12px;
    font-size: 12px;
    left: 5px
}

.filter-container__selected-filter {
    margin-bottom: 10px;
    padding-bottom: 5px;
    border-bottom: 1px solid #eee
}

.filter-container__selected-filter-header {
    margin-bottom: 5px
}

.filter-container__selected-filter-header-title {
    font-size: 18px;
    font-weight: bold;
    color: #0038AE
}

.filter-container__clear-all {
    float: right;
    color: #333;
    margin-top: 3px
}

.filter-container__selected-filter-item {
    padding: 3px 0
}

.filter-container__selected-filter-item>a {
    color: #333;
    font-size: em(13px)
}

.filter-container__selected-filter-item .fa {
    margin-right: 10px;
    color: #F44336
}

#sort-by {
    float: right;
    font-size: 12px;
    text-align: left
}

#sort-by .button-asc,
#sort-by .button-desc {
    background-color: #f8f8f8;
    box-shadow: none;
    float: right;
    height: 30px;
    line-height: 28px;
    margin-left: 5px;
    text-align: center;
    width: 30px
}

#sort-by label {
    font-family: 'Arial';
    float: left;
    font-weight: 400;
    line-height: 33px;
    font-size: 14px;
    margin-right: 0px;
    margin-bottom: 0;
    color: #222
}

#sort-by ul {
    margin: 0;
    padding: 0;
    list-style: none;
    display: inline;
    float: right
}

#sort-by a:link,
#sort-by a:visited {
    color: #333;
    text-decoration: none
}

#sort-by>ul>li {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background-position: right center;
    background-repeat: no-repeat;
    background-position: right 10px center;
    padding-right: 28px;
    text-indent: .01px;
    cursor: pointer;
    line-height: 34px;
    background-image: url(//bizweb.dktcdn.net/100/374/880/themes/748270/assets/ico-select.png?1594637019384) !important;
    border-radius: 3px
}

#sort-by>ul>li:hover {
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0
}

#sort-by li {
    background: none repeat scroll 0 0 #fff;
    cursor: pointer;
    margin: 0 auto;
    outline: medium none;
    padding: 0 0 0 10px;
    position: relative;
    float: left;
    color: #222;
    border: none;
    font-size: 13px
}

#sort-by li>a {
    display: inline-block;
    width: 100%;
    line-height: 36px;
    transition: all 0s ease-in-out
}

#sort-by li>a:hover {
    color: #fe5767
}

#sort-by li li {
    width: 100%;
    margin-top: 0px;
    border-top: none;
    border-right: none;
    border-left: none
}

#sort-by li li a:hover {
    color: #fe5767
}

#sort-by li:hover {
    background-color: #fff
}

#sort-by li li:hover {
    background-color: #fff;
    color: #007fb8
}

#sort-by ul ul {
    position: absolute;
    visibility: hidden;
    width: 180px;
    right: 0;
    top: 34px;
    background: none repeat scroll 0 0 #F8F8F8;
    z-index: 10000;
    border: 1px solid #ebebeb;
    border-radius: 3px;
    overflow: hidden;
    border-top-right-radius: 0;
    border-top-left-radius: 0;
    overflow: hidden;
    background: #fff;
    padding-left: 0px !important
}

@media (max-width: 767px) {
    #sort-by ul ul {
        left: 0;
        right: auto
    }
}

#sort-by ul ul li:last-child {
    border-bottom: none
}

#sort-by ul ul ul {
    position: absolute;
    left: 100%;
    top: -2px;
    border: solid 1px transparent
}

#sort-by li:hover>ul {
    visibility: visible
}

.filter-container__selected-filter {
    margin-bottom: 10px;
    padding-bottom: 5px;
    border-bottom: 1px solid #eee
}

.filter-container__selected-filter-header {
    margin-bottom: 5px
}

.filter-container__selected-filter-header-title {
    font-size: 18px;
    font-weight: bold;
    color: #0038AE
}

.filter-container__clear-all {
    float: right;
    color: #333;
    margin-top: 3px
}

.filter-container__selected-filter-item {
    padding: 3px 0
}

.filter-container__selected-filter-item>a {
    color: #333;
    font-size: em(13px)
}

.filter-container__selected-filter-item .fa {
    margin-right: 10px;
    color: #F44336
}